* {
  body-sizing: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  padding-left: 1px;
  padding-right: 1px;
}

ul {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding-left: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

.header__image {
  height: 80vh;
}

.header {
  display: flex;
  flex-direction: column;
  height: 20vh;
  min-height: 60vh;
  flex: 1;
  order: 1;
}

.header__name {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex: 1 0;
  order: 1;
  min-height: 2em;
}

#name {
  color: black;
}

.profile__image_frame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  order: 2;
}

.profile__image {
  min-height: 100%;
  width: 150px;
  border-radius: 50%;
/*   flex: 1; */
}


.header__bio {
  display: flex;
  background-color: white;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex: 3;
  flex-shrink: 0;
  order: 3;
  min-height: 4em;
  padding: 10px;
}

#bio {
  color: black;
  font-size: 3vw;
  text-align: center;
}

.content {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  order: 2;
}

.content__nav {
  width: 100vw;
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#nav__menu {
  color: black;
}

.content__body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: white;
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
}

#experience__pic {
  width: 100%
}

#current__projects_pic {
  width: 100%;
}

#future__pic {
  width: 100%;
}

#content__text {

}

.content__sidebar {
  display: none;
}

.footer {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
  border-top: 1px solid black;
  order: 3;
  margin-top: 5px;
}

.footer__title {
  display: flex;
  margin: 0;
  align-items: center;
}

.footer__links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-end;
  flex: 1;
}

.footer__links_list {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

#links__title {
  color: black;
}


#links {
  color: black;
}

@media (min-width: 768px) {

  .header__image{
    height: 100vh;
  }

  .header {
    min-height: 80vh;
    border-bottom: 2px solid;
  }

  .profile__image {
  min-height: 30vh;
  width: 30vh;
  border-radius: 50%;
  }

  .header__bio{
    height: 1em;
  }

  #bio{
    font-size: 1.5em;
    padding-right: 5px;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .content__nav {
    display: flex;
    flex-direction: column;
    width: 100px;
    min-height: 83vh;
    justify-content: space-around;
    padding-left: 5px;
    border-bottom: 2px dashed;
    border-right: 2px dashed;
    border-top: 2px dashed;
    margin-top: 5px;
    position: sticky;
    top: 0;
  }

  .content__body {
    position: relative;
    display: flex;
    flex: 2;
  }

}
