* {
  body-sizing: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

ul {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding-left: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  height: 20vh;
}

.header__name {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex: 1;
}

#name {
  color: white;
}


.header__bio {
  display: flex;
  background-color: black;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#bio {
  color: white;
  font-size: 3vw;
}

.content {
  background-color: #86BAA1;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.content__nav {
  width: 100vw;
  display: flex;
  background-color: black;
  justify-content: space-evenly;
  border-top: 1px solid white;
}

#nav__menu {
  color: white;
}

.content__body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: white;
  flex: 1;
}

#content__text {

}

.content__sidebar {
  display: none;
}

.footer {
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
}

.footer__title {
  display: flex;
  margin: 0;
  align-items: center;
}

.footer__links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-end;
  flex: 1;
}

.footer__links_list {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

#links__title {
  color:white;
}


#links {
  color: white;
}

@media (min-width: 768px) {

  .header {
    min-height: 12vh;
  }

  #bio{
    font-size: 2vh;
    padding-right: 5px;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .content__nav {
    display: flex;
    flex-direction: column;
    width: 100px;
    min-height: 83vh;
    justify-content: space-around;
    padding-left: 5px;
    border-bottom: 1px solid;
  }

  .content__body {
    position: relative;
    display: flex;
    flex: 2;
  }

}
